p {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 5px;
}
.pending {
  background-color: lightblue;
  color: black;
  border-color: blue;
}
.success {
  background-color: palegreen;
  color: black;
  border-color: olivedrab;
}
.error {
  background-color: palevioletred;
  color: black;
  border-color: red;
}
